* {
    font-family: Poppins;
}
:root {
    --primary: #EF233C;
    --bs-primary: #ef233b7d;
    --text-color: #f8f9fa;
    --dark-bg: #00081a;
    --border-color: rgba(255, 255, 255, 0.068);
}
.bg-primary {
    background-color:transparent!important;
    backdrop-filter: blur(5px);
  }  

.bg-dark {
    background-color: #000c23 !important;
}
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: #af0a1e !important;
    border-color: #af0a1e !important;
}
body {
    background-color: var(--dark-bg);
    color: white;
}
.container-fluid{
    padding-left: 10vh;
    padding-right: 10vh;
}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-container {
    width: 40px;
    height: 40px;
    background-color: #EF233C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo i {
    font-size: 20px;
}

.wrap-input-label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.wrap-input-label label {
    font-weight: 600;
    font-size: 24px;
}

.wrap-input-label input {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid #EF233C;
    padding-top: 8px;
    font-family: Poppins;
    font-weight: 200;
    margin-bottom: 30px;
}

.wrap-input-label i {
    position: absolute;
    right: 5px;
    bottom: 32px;
    color: #b6b6b6;
}

.wrap-input-label i:hover{
    color: white;
}

input::placeholder {
    color: #b6b6b6;
    font-size: 16px;
}
input:hover::placeholder{
    color: white;
}

.bottom button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #EF233C;
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

.bottom-forgot {
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.bottom-forgot {
    color:#b6b6b6;
}
.bottom-forgot:hover{
    color:white;
}
.bottom-forgot button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #EF233C;
    color: white;
}

button {
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #af0a1e;
}
.error-div{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: lightpink;
    gap: 2vh;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.error-div button{
    background-color: transparent;
    border: none;
    opacity: 0.6;
    transition: all 200ms linear;
}

.error-div button:hover{
    cursor: pointer;
    opacity: 1;
}
